.header {
  color: #15e884;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  padding-right: 30px;
  height: 80px;
  overflow: auto;
}

/* Hide scrollbar for Chrome, Safari, Opera */
.header::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.header {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.header__icons {
  display: flex;
  align-items: center;
  text-align: center;
}

.header__icon--active > p {
  display: inline !important;
}
.header__icon > p {
  display: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: small;
  margin: 0 auto;
}
.header__icon:hover > p {
  display: inline;
}
.header__icon {
  display: flex;
  flex-direction: column;
  width: 100px;
  cursor: pointer;
}

.header__icon > .MuiSvgIcon-root {
  margin: 0 auto;
}

.header > img {
  object-fit: contain;
  height: 30px;
  cursor: pointer;
}
